{% load static %}
<!DOCTYPE html>
<html>
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block title %} <title>Welcome to RaselAcademy!</title> {% endblock %}
 
         <link rel="stylesheet" href="{% static 'raselacademy/styles.css' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'raselacademy/images/logo.png' %}">
	
    </head>
    
    <body>
	<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

	<h1 id="sex"> Welcome to Rasel Academy(RA)</h1>
	<h4 id="fem"> <i>A learning Platform!</i> </h4>
	<img src="{% static 'raselacademy/images/ra.png' %}" alt="Logo">
	

	<div class="topnav" id="myTopnav">
  <a href="{% url 'raselacademy:index' %}" class="active">Home</a>
{% for categories in category %}
	
	
	<a href="{% url 'raselacademy:categories' categories.name %}" title="Find your desire"> {{ categories.name | safe }} </a>
	
	
	{% endfor %}
	<a href="{% url 'raselacademy:LatestBlogsFeed' %}" title="Subscribe to my RSS feed">RSS feed </a>
	 
  <a href="{% url 'sex:index'%}">New Website</a>
  <a href="#contact">Contact</a>
 
 <a href="#sex"> About </a>
 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

        
     
     
        {% block body %}
        {% endblock %}
    </body>
</html>
