{% extends "raselacademy/base.html" %}

{% block body %}
 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
<h1>Web Programing</h1>
</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

{% for blog in blogs %}

<p><a href="{% url 'raselacademy:blog' blog.title %}"> {{blog.title}} </a></p>


{% endfor %}

</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">



<a href="{% url 'raselacademy:index' %}">Home </a>

</div>
</div>
</div>


{% endblock %}
