{% extends "raselacademy/base.html" %}

{% block body %}
 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
<h2> {{contact.name}}</h2>
<hr>
<p> {{contact.title}}</p>
<p> {{contact.objectives}}</p>
<p>Created On: {{contact.created_on}}</p>
<a href="https://www.facebook.com/rasel.adil">Facebook</a>
</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

<a href="{% url 'index' %}">Home </a>

</div>
</div>
</div>

{% endblock %}
