{% extends "raselacademy/base.html" %}
{% block body %}
 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
<h2> {{english.title}}</h2>
<hr>
<p> <u>{{english.heading}}</u></p>
<p> {{english.description}}</p>
</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
{% for english in englishs %}
<p><a href="{% url 'english' english.title  %}"> {{english.title}} </a></p>

{% endfor %}
</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">


<a href="{% url 'index' %}">Home </a>

</div>
</div>
</div>

{% endblock %}