{% extends "raselacademy/base.html" %}

{% block body %}
 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
<h1>Political Science</h1>
</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

{% for politic in politics %}
<p><a href="{% url 'politics' politic.title %}"> {{politic.title}} </a></p>

{% endfor %}

</div>
</div>
</div>

 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">



<a href="{% url 'index' %}">Home </a>
</div>
</div>
</div>


{% endblock %}
